/* --------------------------------------------------
   CUSTOM
-------------------------------------------------- */

hr {
  margin: 70px 0;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* Botão com Efeito Ripple */

.btn {
  display: relative;
  padding: 16px 0;
  width: 100%;
  font-size: 1.8rem;
  background-color: var(--bg-btn);
  border: 1px solid var(--bg-menu);
  border-radius: var(--box-radius);
  margin-top: 30px;

  box-shadow: var(--box-shadow);
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background-color: var(--bg-menu);
    border: 1px solid var(--hover);
    transform: scale(1.03);
    color: var(--hover);
  }
}
