*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* COR DE FUNDO */
  --bg-gradient-start: rgb(47, 29, 127);
  --bg-gradient-end: #424242;
  --bg-menu: rgba(255, 255, 255, 0.2);

  /* COR DO TEXTO */
  --font-color: #ffffff;

  /* VARIAVEIS STATICAS */
  --box-radius: 20px;
  --hover: #d06c2f;
}

[data-theme="dark"] {
  --bg-gradient-start: rgb(21, 12, 63);
  --bg-gradient-end: #1e1e1e;
}

html {
  font-size: 62.5%;
  font-family: consolas, monospace;
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
  font-optical-sizing: auto;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100vh;
  padding: 60px 5%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* position: relative; */
  color: var(--font-color);
  background: linear-gradient(
    to right top,
    var(--bg-gradient-start),
    var(--bg-gradient-end) 80%
  );
  background-attachment: fixed;
}

hr {
  margin: 30px 0;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

a,
ul {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid #ffeb3b;
  outline-offset: 3px;
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
}

my-icon {
  display: inline-block;

  background-color: currentColor;

  -webkit-mask: var(--icon-url) no-repeat center;
  -webkit-mask-size: contain;

  mask: var(--icon-url) no-repeat center;
  mask-size: contain;
}
