*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-gradient-start: rgb(47, 29, 127);
  --bg-gradient-end: #424242;
  --bg-menu: rgba(255, 255, 255, 0.2);

  --font-color: #ffffff;

  --box-radius: 20px;
  --hover: #d06c2f;
}

[data-theme="dark"] {
  --bg-gradient-start: rgb(21, 12, 63);
  --bg-gradient-end: #1e1e1e;
}

html {
  font-size: 62.5%;
  font-family: consolas, monospace;
  color-scheme: light dark;
  scroll-behavior: smooth;

  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 1px;

  width: 100%;
  max-width: 100%;
  overflow: hidden;

  min-height: 100dvh;
  min-height: 100vh;

  padding: 70px 5%;

  position: relative;
  color: var(--font-color);
  background-color: var(--bg-gradient-start);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -9999;

  background: linear-gradient(
    to right top,
    var(--bg-gradient-start),
    var(--bg-gradient-end) 80%
  );

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  pointer-events: none;
}
