/* ------------------ MOBILE */

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  body {
    padding: 70px 3%; /* 🔥 reduz chance de overflow */
  }
}

/* ------------------ TOUCH */

@media (hover: none) {
  .tooltip-global {
    font-size: 1.4rem;
    transform: translate(-50%, calc(var(--tooltip-offset) + 6px));
    pointer-events: auto;
  }

  button:hover {
    background-color: inherit;
  }
}
