:root {
  --bg-gradient-start: rgb(47, 29, 127);
  --bg-gradient-end: #424242;
  --bg-menu: rgba(255, 255, 255, 0.1);

  --font-color: #ffffff;

  --box-radius: 20px;
  --hover: #d06c2f;

  --toggle-width: 68px;
  --toggle-height: 34px;
  --thumb-size: 30px;
  --transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

  --bg-light: #868e9d;
  --bg-dark: #1f2937;
  --thumb-light: #ffffff;
  --thumb-dark: #111827;
}

[data-theme="dark"] {
  --bg-gradient-start: rgb(21, 12, 63);
  --bg-gradient-end: #1e1e1e;
}
