:root {
  --bg-gradient-start: rgb(47, 29, 127);
  --bg-gradient-end: #424242;
  --bg-menu: rgba(255, 255, 255, 0.1);

  --font-color: #ffffff;

  --box-radius: 20px;
  --hover: #d06c2f;
}

[data-theme="dark"] {
  --bg-gradient-start: rgb(21, 12, 63);
  --bg-gradient-end: #1e1e1e;
}
