:root {
  --bg-gradient-end: #6e6b69;
  --bg-gradient-start: #d06c2f;
  --bg-menu: rgb(223, 223, 223);
  --bg-btn: rgb(223, 223, 223);
  --bg-image: rgba(0, 0, 0, 0.2);
  --bg-tip: white;

  --particles-blur: 2px;
  --ripple: rgba(0, 0, 0, 0.3);

  --font-color: #000000;
  --hover: rgb(40, 0, 216);
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  --track-bg: #868e9d;
  --thumb-bg: #ffffff;
  --color-theme: #000000;

  --box-radius: 20px;
}

html[data-theme='dark'] {
  --bg-gradient-start: rgb(21, 12, 63);
  --bg-gradient-end: #1e1e1e;
  --bg-menu: rgba(255, 255, 255, 0.1);
  --bg-btn: rgba(255, 255, 255, 0.03);
  --bg-image: rgba(255, 255, 255, 0.05);
  --bg-tip: black;

  --particles-blur: 0px;
  --ripple: rgba(255, 255, 255, 0.4);

  --font-color: #ffffff;
  --hover: #d06c2f;
  --box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);

  --track-bg: #1f2937;
  --thumb-bg: #111827;
  --color-theme: #ffffff;
}

@media (max-width: 800px) {
  html[data-theme='dark'] {
    --bg-btn: rgba(255, 255, 255, 0.1);
  }
}
