html[data-theme="light"] {
  --track-bg: var(--bg-light);
  --thumb-bg: var(--thumb-light);
}

html[data-theme="dark"] {
  --track-bg: var(--bg-dark);
  --thumb-bg: var(--thumb-dark);
}

.button-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  border: none;
  background: none;
  padding: 0;
  margin: 0 auto;
  
}

.toggle_track {
  width: var(--toggle-width);
  height: var(--toggle-height);
  background: var(--track-bg);
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 3px;
  transition: background var(--transition);
  box-shadow: var(--box-shadow);
}

.toggle_thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--thumb-bg);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform var(--transition),
    background var(--transition);
}

html[data-theme="dark"] .toggle_thumb {
  transform: translateX(32px);
}

.button-theme my-icon {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  fill: currentColor;
  transition:
    opacity var(--transition),
    transform var(--transition);
}

html[data-theme="light"] [data-icon="moon"] {
  opacity: 0;
  transform: scale(0.6) rotate(45deg);
}

html[data-theme="dark"] [data-icon="sun"] {
  opacity: 0;
  transform: scale(0.6) rotate(-45deg);
}

[data-icon="sun"] {
  color: black;
}

[data-icon="moon"] {
  color: white;
}
