/* Botão com Efeito Ripple */

.button-ripple {
  position: relative;
  padding: 1.6rem 0;
  width: 100%;
  max-width: 400px;
  font-size: 1.8rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid var(--bg-menu);
  border-radius: var(--box-radius);
  transition:
    background 0.3s,
    transform 0.1s;
  margin-top: 30px;
}

.ripple_button {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  transform: scale(0);
  animation: ripple-effect 4s ease-out forwards;
  pointer-events: none;
  transform-origin: center center;
  opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
  .button-ripple:hover {
    background: var(--bg-menu);
    border: 1px solid var(--hover);
    transform: scale(1.03);
  }

  .button-ripple:hover,
  button {
    color: var(--hover);
  }
}

@media (hover: none) {
  .button-ripple:hover {
    background-color: inherit;
  }
}

@keyframes ripple-effect {
  to {
    transform: scale(4);
  }
}
.fade-out {
  transition: opacity 0.4s ease-out;
  opacity: 0;
}
