/* Botão com Efeito Ripple */

.button-ripple {
  position: relative;
  overflow: hidden;
  padding: 1.6rem 0;
  width: 100%;
  max-width: 400px;
  font-size: 1.8rem;
  color: white;
  background-color: rgb(72, 72, 255);
  border: none;
  border-radius: 10px;
  outline: none;
  transition: background 0.3s, transform 0.1s;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

.button-ripple:active {
  transform: scale(0.98);
}

.button-ripple:hover {
  background-color: rgb(100, 124, 195);
}

.ripple {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  transform: scale(0);
  animation: ripple-effect 1s ease-out forwards;
  pointer-events: none;
  transform-origin: center center;
  opacity: 1;
}

@keyframes ripple-effect {
  to {
    transform: scale(4);
  }
}
.fade-out {
  transition: opacity 0.5s ease-out;
  opacity: 0;
}
