<style>
  br {
    display: none;
  }

  #footer i {
    padding: 70px 0;
    display: block;
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  #footer .icons {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  #footer .icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-menu);
    border-radius: var(--box-radius);
    padding: 10px;
    box-shadow: var(--box-shadow);
    margin: 0 auto;
  }

  #footer my-icon {
    width: 2.7rem;
    height: 2.7rem;
    color: white;
  }

  .return {
    width: 100%;
    display: flex;
    justify-content: right;
    position: absolute;
    padding: 1%;
    gap: 1%;
    bottom: 0;
    right: 0;
  }

  .return a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-menu);
    border-radius: var(--box-radius);
    padding: 10px;
    box-shadow: var(--box-shadow);
  }

  img[data-image="logo"] {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 5px;
  }

  #footer a[data-tooltip] {
    --tooltip-offset: -35px;
  }

  @media (hover: hover) and (pointer: fine) {
    #footer a:hover my-icon {
      transform: scale(1.08);
      color: var(--hover);
    }

    #footer a:hover {
      transform: scale(1.08);
    }
  }

  @media (max-width: 500px) {
    #footer .icons {
      grid-template-columns: repeat(4, 1fr);
      gap: 30px 0px;
    }

    br {
      display: block;
    }

    .return {
      justify-content: center;
      gap: 15px;
    }

    a[data-tooltip="Saber mais"] {
      width: 80%;
    }
  }
</style>

<section id="footer">
  <div class="icons">
    <a href="/#" data-tooltip="Facebook"
      ><my-icon data-icon="facebook"></my-icon
    ></a>
    <a href="/#" data-tooltip="Instagram"
      ><my-icon data-icon="instagram"></my-icon
    ></a>
    <a href="/#" data-tooltip="TikTok"
      ><my-icon data-icon="tiktok"></my-icon
    ></a>
    <a href="/#" data-tooltip="WhatsApp"
      ><my-icon data-icon="whatsapp"></my-icon
    ></a>
    <a href="/#" data-tooltip="LinkedIn"
      ><my-icon data-icon="linkedin"></my-icon
    ></a>
    <a href="/#" data-tooltip="GitHub"
      ><my-icon data-icon="github"></my-icon
    ></a>
    <a href="/#" data-tooltip="Email"><my-icon data-icon="email"></my-icon></a>
    <a href="/#" data-tooltip="Currículo"
      ><my-icon data-icon="doc"></my-icon
    ></a>
  </div>

  <i btn>© 2022 Lucas Bucalon <br />- Todos os direitos reservados.</i>

  <div class="return">
    <a href="/#" data-tooltip="Saber mais">
      <p>Criado pela</p>
      <img
        data-image="logo"
        alt="Logo da Nexo"
        loading="lazy"
        fetchpriority="low"
        decoding="async"
      />
      <b>Nexo</b></a
    >
    <a href="#header" move data-tooltip="Subir"
      ><my-icon data-icon="header" class="icon_footer"></my-icon
    ></a>
  </div>
</section>
