<style>
  br {
    display: none;
  }

  #footer em {
    padding: 70px 0;
    display: block;
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  #footer .icons {
    display: flex;
    justify-content: space-around;
  }

  #footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-menu);
    border-radius: var(--box-radius);
    padding: 10px;
    transition: all 0.3s ease-in-out;
  }

  .icon_footer {
    width: 2.7rem;
    height: 2.7rem;
    color: white;
  }

  a:hover {
    transform: scale(1.08);
  }

  a:hover .icon_footer {
    color: var(--hover);
    transform: scale(1.07);
    filter: contrast(1.05) saturate(1.05);
  }

  a:hover p {
    color: var(--hover);
  }

  .return {
    width: 100%;
    display: flex;
    justify-content: right;
    position: absolute;
    padding: 1%;
    gap: 1%;
    left: 0;
  }

  .logo {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 5px 0 0;
  }

  #footer a {
    --tooltip-offset: -35px;
  }

  @media (max-width: 500px) {
    #footer .icons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px 0px;
      margin: 0 auto;
    }

    #footer .icons a {
      padding: 10px;
      width: 50px;
      margin: 0 auto;
    }
    br {
      display: block;
    }

    .return {
      justify-content: center;
      gap: 15px;
    }

    .logo_box {
      width: 80%;
    }
  }
</style>

<section id="footer">
  <div class="icons">
    <a href="/#" data-tooltip="Facebook"
      ><my-icon data-icon="facebook" class="icon_footer"></my-icon
    ></a>
    <a href="/#" data-tooltip="Instagram"
      ><my-icon data-icon="instagram" class="icon_footer"></my-icon
    ></a>
    <a href="/#" data-tooltip="TikTok"
      ><my-icon data-icon="tiktok" class="icon_footer"></my-icon
    ></a>
    <a href="/#" data-tooltip="WhatsApp"
      ><my-icon data-icon="whatsapp" class="icon_footer"></my-icon
    ></a>
    <a href="/#" data-tooltip="LinkedIn"
      ><my-icon data-icon="linkedin" class="icon_footer"></my-icon
    ></a>
    <a href="/#" data-tooltip="GitHub"
      ><my-icon data-icon="github" class="icon_footer"></my-icon
    ></a>
    <a href="/#" data-tooltip="Email"
      ><my-icon data-icon="email" class="icon_footer"></my-icon
    ></a>
    <a href="/#" data-tooltip="Currículo"
      ><my-icon data-icon="doc" class="icon_footer"></my-icon
    ></a>
  </div>

  <em>© 2022 Lucas Bucalon <br />- Todos os direitos reservados.</em>

  <div class="return">
    <a href="#/home" data-tooltip="Saber mais" class="logo_box">
      <img data-image="logo" class="logo" />
      <p>Criado pela Nexo</p></a
    >
    <a href="#header" move data-tooltip="Subir"
      ><my-icon data-icon="header" class="icon_footer"></my-icon
    ></a>
  </div>
</section>
