<style>
  .box_menu {
    background-color: var(--bg-menu);
    border-radius: var(--box-radius);
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    margin: 30px 10% 0;
  }

  .icon_menu {
    width: 2.5rem;
    height: 2.5rem;
  }

  .box_menu a.active,
  a:hover {
    color: var(--hover);
  }

  .box_menu a {
    --tooltip-offset: -45px;
  }
</style>

<ul class="box_menu effect-ripple">
  <li>
    <a href="#/home" page data-tooltip="Inicio"
      ><my-icon data-icon="home" class="icon_menu"></my-icon
    ></a>
  </li>
  <li>
    <a href="#/about" page data-tooltip="Sobre"
      ><my-icon data-icon="about" class="icon_menu"></my-icon
    ></a>
  </li>
  <li>
    <a href="#/work" page data-tooltip="Trabalho"
      ><my-icon data-icon="work" class="icon_menu"></my-icon
    ></a>
  </li>
  <li>
    <a href="#/hooby" page data-tooltip="Hobbies"
      ><my-icon data-icon="hooby" class="icon_menu"></my-icon
    ></a>
  </li>
  <li>
    <a href="#/gallery" page data-tooltip="Galeria"
      ><my-icon data-icon="gallery" class="icon_menu"></my-icon
    ></a>
  </li>
  <li>
    <a href="#footer" move data-tooltip="Rodapé"
      ><my-icon data-icon="footer" class="icon_menu"></my-icon
    ></a>
  </li>
</ul>

<script>
  function updateActiveMenu() {
    const links = document.querySelectorAll(".box_menu a");
    const currentHash = window.location.hash;

    links.forEach((link) => {
      if (link.getAttribute("href") === currentHash) {
        link.classList.add("active");
      } else {
        link.classList.remove("active");
      }
    });
  }

  window.addEventListener("hashchange", updateActiveMenu);

  document.addEventListener("spa:pageLoaded", updateActiveMenu);

  window.addEventListener("load", () => {
    if (!window.location.hash) {
      window.location.hash = "#/home";
    }
    updateActiveMenu();
  });
</script>
