<style>
  .profile {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
  }

  .image {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
  }

  .photo,
  .art {
    position: absolute;
  }
</style>

<html class="profile">
  <! -- Foto do usuário -- >
  <div class="image">
    <img class="photo" data-image="foto" />
    <img class="art" data-image="arte" />
  </div>
  <! -- Foto do usuário -- >

  <! -- Nome do usuário -- >
  <h1 class="name"></h1>
  <! -- Nome do usuário -- >

  <! -- Botão de modo escuro -- >
  <button class="dark_mode"></button>
  <! -- Botão de modo escuro -- >

  <! -- Menu de navegação -- >
  <nav class="menu"></nav>
  <! -- Menu de navegação -- >
</html>
