<style>
  .profile {
    display: flex;
    flex-direction: column;
  }

  .image {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .art {
    position: absolute;
    z-index: -1;
    margin: -50px 0 0 80px;
  }

  .name {
    margin: 30px 0;
  }
</style>

<html>
  <section class="profile">
    <! -- Foto do usuário -- >
    <div class="image">
      <img class="art" data-image="arte" />
      <img class="photo" data-image="foto" />
    </div>
    <! -- Foto do usuário -- >

    <! -- Nome do usuário -- >
    <h1 class="name">João Lucas Bucalon</h1>
    <! -- Nome do usuário -- >
  </section>
</html>
