/* ------------------ RIPPLE BASE ------------------ */

.effect-ripple {
  position: relative;
  overflow: hidden;
  transition:
    background 0.5s,
    transform 0.1s;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

/* ------------------ RIPPLE ------------------ */

.ripple_effect {
  position: absolute;
  background: var(--ripple);
  border-radius: 100%;
  pointer-events: none;

  transform: scale(0);
  opacity: 1;

  will-change: transform, opacity;
}

/* animação controlada via JS (dinâmica) */
.ripple-animate {
  animation: ripple-scale var(--ripple-duration) linear forwards;
}

@keyframes ripple-scale {
  to {
    transform: scale(1);
  }
}

/* fade real */
.ripple-fade {
  opacity: 0;
  transition: opacity 0.8s ease-out;
}
