.background-particles {
  opacity: 1;
  filter: blur(var(--particles-blur));
  --particles-color: #ffffff;
  --particles-speed: 2;
  --particles-count: 40;
  --particle-size-min: 1px;
  --particle-size-max: 4px;

  position: fixed;
  inset: 0;
  width: 100%;
  height: 100dvh;
  height: 100vh;
  pointer-events: none;
  z-index: -100;
  overflow: hidden;
  contain: layout size style;
  margin: 0 auto;
}

.particle {
  position: absolute;
  border-radius: 100%;
  background-color: var(--particles-color);
  will-change: transform, opacity;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}
